<include file="./Home/View/frame-top.html " />
<div class="wrap">
    <div class="content">
        <div class="scroll">
            <div class="scroll-img">
                <foreach name="topGoods" item="topGood">
                    <a href="/home/index/detail.html?goodsId={$topGood.goods_id}"><img src="{$topGood.goods_big_img}" alt=""></a>
                </foreach>
            </div>
            <div class="img-control-bar">
                <foreach name="topGoods" item="topGood">
                    <i></i>
                </foreach>
            </div>
        </div>
        <foreach name="categorys" item="category">
            <div class="category-nav">
                <ul>
                    <foreach name="allCategorys" item="allCategory">
                        <if condition="($allCategory['category_name'] eq $category['category_name'])">
                            <li style=" color: cornflowerblue; ">{$category.category_name}</li>
                            <else />
                            <li>{$allCategory.category_name}</li>
                        </if>
                    </foreach>
                </ul>
            </div>
            <div class="category-goods ">
                <foreach name="goodsInfos " item="oneCategory ">
                    <foreach name="oneCategory " item="goodsInfo ">
                        <if condition="($category[ 'category_name'] eq $goodsInfo[ 'category_name']) ">
                            <dl>
                                <dd class="goods-intro ">
                                    <p class="goods-name ">{$goodsInfo.goods_name}</p>
                                    <p class="goods-price ">{$goodsInfo.goods_price}<span> RMB</span></p>
                                </dd>
                                <dd class="goods-img ">
                                    <a href="/home/index/detail.html?goodsId={$goodsInfo.goods_id}"><img src="{$goodsInfo.goods_small_img} " alt=" "></a>
                                </dd>
                            </dl>
                        </if>
                    </foreach>
                </foreach>
            </div>
        </foreach>
    </div>
</div>
<script src="/public/js/index.js "></script>
<include file="./Home/View/frame-footer.html " />