<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TP电商网站首页</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
</head>

<body>
    <div class="wrap">
        <div class="top clearfix">
            <div class="logo fl">
                <img src="/public/admin/img/logo.jpg" alt="">
            </div>
            <ul>
                <li class="top-user-info">游客你好请</li>
                <li class="top-login">登陆</li>
                <li class="top-reg">注册</li>
            </ul>
        </div>
        <div class="content">
            <div class="scroll">
                <div class="scroll-img">
                    <a href=""><img src="/public/img/header-nav-bg.jpg" alt=""></a>
                    <a href=""><img src="/public/img/2.jpg" alt=""></a>
                    <a href=""><img src="/public/img/3.jpg" alt=""></a>
                </div>
                <div class="img-control-bar">
                    <i class="img-active"></i>
                    <i></i>
                    <i></i>
                </div>
            </div>
            <div class="category-nav">
                <ul>
                    <li>手机</li>
                    <li>电脑</li>
                    <li>电视</li>
                </ul>
            </div>
            <div class="category-goods">
                <dl>
                    <dd class="goods-intro">
                        <p class="goods-name">商品名称</p>
                        <p class="goods-price"><span>$</span>200.00</p>
                    </dd>
                    <dd class="goods-img">
                        <a href=""><img src="/public/img/2.jpg" alt=""></a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="footer ">
            <div class="footer-content">
                <p>本产品开源免费</p>
                <p>所有权归创作人</p>
                <p>产品开发完成时间:2017-6-20</p>
                <p>开发作者:lxs</p>
                <p>联系方式:<span>q1227033198q</span></p>
            </div>
        </div>
    </div>
    <script src="/public/plugins/jquery/jquery.js"></script>
    <script src="/public/js/index.js"></script>
</body>

</html>