.wrap {
    background: #E4E4E4;
    width: 1024px;
    height: 763px;
}

.top {
    width: 1024px;
    height: 60px;
    background: #66FFCC;
    z-index: 1;
    position: fixed;
}

.left {
    width: 259px;
    height: 689px;
    background: #283643;
    z-index: 1;
    position: fixed;
    top: 60px;
}

.right {
    width: 765px;
    height: 1265px;
    background: #eee;
    z-index: 0;
    margin-left: 259px;
}

.top-logo img {
    width: 259px;
    height: 60px;
}

.menu {
    padding-top: 10px;
}

.menu ul li {
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.menu ul li:hover {
    background: #1cc09f;
}