* {
    margin: 0px;
    padding: 0px;
}

textarea {
    resize: none;
}

img {
    border: none;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.container {
    width: 1024px;
    margin: 0 auto;
}