<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>牛逼后台管理系统</title>
    <link rel="stylesheet" href="/public/admin/css/main.css" />
    <link rel="stylesheet" href="/public/admin/css/common.css" />
    <link rel="stylesheet" href="/public/admin/css/panel.css" />
    <script src="/public/plugins/jquery/jquery.js"></script>
</head>

<body>

    <div class="wrap">
        <!--头部-->
        <div class="top clearfix">
            <div class="top-logo fl"><img src="/public/admin/img/logo.jpg" alt="logo"></div>
            <div class="user-info">
                <ul>
                    <li class="show-title">
                        <h1>牛逼电商后台系统</h1>
                    </li>
                    <li class="show-user">
                        <p>欢迎管理员<span>xxx</span>登陆</p>
                    </li>
                    <li><a href="">退出</a></li>
                    <li class="sign-out"></li>
                </ul>
            </div>
        </div>
        <div class="left ">
            <div class="menu">
                <ul>
                    <li>系统信息</li>
                    <li>系统管理</li>
                </ul>
            </div>
            <div class="menu-item hidden">
                <ul>
                    <li><a href="/{$Think.const.ROOT_PATH}{$Think.const.MODULE_NAME}/index/index">》》系统信息</a></li>
                </ul>
            </div>
            <div class="menu-item hidden">
                <ul>
                    <li><a href="/{$Think.const.ROOT_PATH}{$Think.const.MODULE_NAME}/manager/showlist">》》管理员列表</a></li>
                    <li><a href="/{$Think.const.ROOT_PATH}{$Think.const.MODULE_NAME}/manager/add">》》添加管理员</a></li>
                    <li><a href="/{$Think.const.ROOT_PATH}{$Think.const.MODULE_NAME}/auth/showlist">》》权限列表</a></li>
                    <li><a href="/{$Think.const.ROOT_PATH}{$Think.const.MODULE_NAME}/auth/add">》》添加权限</a></li>
                    <li><a href="/{$Think.const.ROOT_PATH}{$Think.const.MODULE_NAME}/role/add">》》添加角色</a></li>
                    <li><a href="/{$Think.const.ROOT_PATH}{$Think.const.MODULE_NAME}/role/showlist">》》角色列表</a></li>
                </ul>
            </div>
        </div>
        <div class="right ">
            <div class="panel ">
                <div class="auth">
                    <h1>添加权限</h1>
                    <form action="" method="post">
                        <dl class='auth-add'>
                            <dd>
                                <label for="name">权限名称:</label>
                                <input id='name' type="text" name='auth_name' autofocus />
                            </dd>
                            <dd><label>上级权限:</label>
                                <select name="auth_pid">                                    
                                    <option value="0">无</option>
                                    <foreach name="auth_info" item="auth_one">
                                        <option value="{$auth_one.auth_id}">{$auth_one.auth_name}</option>                                        
                                    </foreach>
                                </select>
                            </dd>
                            <dd>
                                <label for="contro">权限控制器:</label>
                                <input id='contro' type="text" name='auth_c' />
                            </dd>
                            <dd>
                                <label for="fn">权限方法:</label>
                                <input id='fn' type="text" name='auth_a' />
                            </dd>
                            <dd class="auth-add-bt">
                                <input type="submit" value="添加" />
                                <input type="reset" value="重置" />
                            </dd>
                        </dl>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/admin/js/base.js"></script>
</body>

</html>