<include file="./Admin/View/frame-top.html " />
<div class="panel-list">
    <h1>权限列表</h1>
    <table class="panel-data-list">
        <tr>
            <th>全选/反选</th>
            <th>权限id</th>
            <th>权限名称</th>
            <th>权限上级</th>
            <th>权限控制器</th>
            <th>权限所属方法</th>
            <th>权限全路径</th>
            <th>权限等级</th>
            <th>操作</th>
        </tr>
        <foreach name='info' item='auth'>
            <tr>
                <td><input type="checkbox"></td>
                <td>{$auth.auth_id}</td>
                <td>{$auth.auth_name}</td>
                <td>{$auth.auth_pid}</td>
                <td>{$auth.auth_c}</td>
                <td>{$auth.auth_a}</td>
                <td>{$auth.auth_path}</td>
                <td>{$auth.auth_level}</td>
                <td><a href="">修改</a>/<a href="">删除</a></td>
            </tr>
        </foreach>
    </table>
</div>
<include file="./Admin/View/frame-footer.html " />