<include file="./Admin/View/frame-top.html " />
<div class="panel-list">
    <h1>权限列表</h1>
    <table class="panel-data-list">
        <tr>
            <th>全选/反选</th>
            <th>权限id</th>
            <th>权限名称</th>
            <th>权限上级</th>
            <th>权限控制器</th>
            <th>权限所属方法</th>
            <th>权限全路径</th>
            <th>权限等级</th>
            <th>操作</th>
        </tr>
        <foreach name='info' item='auth'>
            <tr>
                <td><input type="checkbox"></td>
                <td>{$auth.auth_id}</td>
                <td>{$auth.auth_name}</td>
                <td>{$auth.auth_pid}</td>
                <td>{$auth.auth_c}</td>
                <td>{$auth.auth_a}</td>
                <td>{$auth.auth_path}</td>
                <td>{$auth.auth_level}</td>
                <td><a href="/{$Think.const.ROOT_PATH}{$Think.const.MODULE_NAME}/auth/updateAuth?authId={$auth.auth_id}">修改</a>/<a href="/{$Think.const.ROOT_PATH}{$Think.const.MODULE_NAME}/auth/delAuth?authId={$auth.auth_id}">删除</a></td>
            </tr>
        </foreach>
    </table>
    <div class="pageContro">
        <ul>
            <li><a href="?page=1">首页</a></li>
            <if condition="($page elt 1)">
                <li><a href="?page=1">上一页</a></li>
                <else />
                <li><a href="?page={$tmpPage=$page-1}">上一页</a></li>
            </if>
            <li><a>{$page}/{$totalPage}页</a></li>
            <li><a>{$pageSize}条/页   共{$total}条数据</a></li>
            <if condition="($page egt $totalPage)">
                <li><a href="?page={$totalPage}">下一页</a></li>
                <else />
                <li><a href="?page={$tmpPage=$page+1}">下一页</a></li>
            </if>

            <li><a href="?page={$totalPage}">尾页</a></li>
        </ul>
    </div>
</div>
<include file="./Admin/View/frame-footer.html " />