.wrap {
    width: 1024px;
    margin: 0 auto;
}

.top {
    height: 80px;
    line-height: 80px;
    color: #f96;
    background: #63c;
}

.footer {
    clear: both;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 3px;
    background: #63c;
}


/*logo图片*/

.logo {
    padding: 0 20px;
}

.logo img {
    margin-bottom: -15px;
    width: 80px;
    height: 50px;
}


/*logo图片结束*/


/*登陆注册*/

.top ul li {
    padding: 0 5px;
}


/*轮播图片*/

.scroll-img {
    height: 450px;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.scroll-img img {
    position: absolute;
    width: 100%;
    height: 450px;
    z-index: 0px;
}

.img-control-bar {
    height: 20px;
    width: 1024px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 460px;
    z-index: 2;
}

.img-control-bar i {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 12px;
    margin-right: 15px;
}

.img-control-bar .img-active {
    background: #db192a;
}

.img-control-bar i:hover {
    background: #db192a;
}


/*分类导航*/

.category-nav {
    padding: 20px 0px 20px 10px;
}

.category-nav li {
    margin-right: 20px;
}


/*分类导航结束*/


/*商品简介*/

.category-goods dl {
    display: inline-block;
    width: 338px;
    height: 175px;
    margin: 5px 0px;
    position: relative;
    top: 0px;
    left: 0px;
    border: 0.3px solid #ccc;
}

.category-goods dl dd {
    width: 338px;
    height: 175px;
}

.category-goods dl .goods-img img {
    width: 338px;
    height: 175px;
}

.category-goods dl .goods-img img:hover {
    opacity: 0.2;
}


/*商品图片dd*/

.category-goods dl .goods-img {
    position: absolute;
    top: 0px;
    left: 0px;
}


/*商品隐含信息dd*/

.category-goods dl .goods-intro {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 800;
    background: #fff;
    text-align: center;
}


/*商品名称*/

.goods-name {
    font-size: 24px;
    font-family: '仿宋';
    margin-top: 60px;
}


/*商品价格*/

.goods-price {
    margin: 10px 0px 5px 0px;
    font-size: 18px;
    color: #333;
}

.goods-price span {
    color: red;
    padding: 0px 3px;
}


/*商品简结束*/


/*底部信息*/

.footer-content {
    padding-top: 10px;
    text-align: center;
    line-height: 24px;
}


/*详情页*/

.goods-img {
    width: 50%;
    float: left;
    min-height: 520px;
}

.goods-img img {
    width: 100%;
}

.goods-info {
    width: 50%;
    float: right;
    padding-left: 20px;
    padding-right: -6px;
    margin-right: -20px;
    min-height: 520px;
    padding-top: 30px;
}

.goods-info {
    margin-top: 15px;
    font-size: 14px;
}

.goods-info p {
    margin-top: 15px;
    font-weight: 700;
    line-height: 24px;
}

.goods-info p span {
    color: #666;
    font-weight: 500;
    padding-right: 15px;
}

.info-desc {
    display: block;
    margin-top: 10px;
    text-indent: 30px;
    line-height: 30px;
}