<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台登陆</title>
    <link rel="stylesheet" href="/public/admin/css/main.css" />
    <link rel="stylesheet" href="/public/admin/css/login.css" />
</head>

<body>
    <div class="container">
        <div class="login-panel">
            <form action="" method="post">
                <table>
                    <tr class="login-title">
                        <td colspan="2">
                            <h1>后台登陆</h1>
                        </td>
                    </tr>
                    <tr class="login-input">
                        <td><label for="name">账号:</label><input id='name' type="text" name="m_name" autofocus></td>
                    </tr>
                    <tr class="login-input">
                        <td><label for="pwd">密码:</label><input id='pwd' type="password" name="m_passwd"></td>
                    </tr>
                    <tr class="login-bt">
                        <td><input type="submit" value="登陆" /><input type="reset" value="重置" /></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
</body>

</html>