<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>牛逼后台管理系统</title>
    <link rel="stylesheet" href="/public/admin/css/main.css" />
    <link rel="stylesheet" href="/public/admin/css/common.css" />
    <link rel="stylesheet" href="/public/admin/css/sitemanager.css" />
</head>

<body>

    <div class="wrap">
        <!--头部-->
        <div class="top clearfix">
            <div class="top-logo fl"><img src="/public/admin/img/logo.jpg" alt="logo"></div>
            <div class="user-info">
                <ul>
                    <li class="show-title">
                        <h1>牛逼电商后台系统</h1>
                    </li>
                    <li class="show-user">
                        <p>欢迎管理员<span>xxx</span>登陆</p>
                    </li>
                    <li><a href="">退出</a></li>
                    <li class="sign-out"></li>
                </ul>
            </div>
        </div>
        <div class="left ">
            <div class="menu">
                <ul>
                    <li><a href="">系统信息</a></li>
                    <li><a href="">系统管理</a></li>
                </ul>
            </div>
        </div>
        <div class="right ">
            <div class="panel ">
                <div class="site-manager">

                </div>
            </div>
        </div>
    </div>

</body>

</html>