<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TP电商网站首页</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <script src="/public/plugins/jquery/jquery.js "></script>

</head>

<body>
    <div class="wrap">
        <div class="top clearfix">
            <div class="logo fl">
                <img src="/public/admin/img/logo.jpg" alt="">
            </div>
            <ul>
                <li class="top-user-info">用户您好请</li>
                <li class="top-login">登陆</li>
                <li class="top-reg">注册</li>
            </ul>
        </div>