<include file="./Admin/View/frame-top.html " />
<div class="panel-add">
    <form action="" method="post" enctype="multipart/form-data">
        <dl>
            <dd>
                <h1>更新商品信息</h1>
            </dd>
            <dd>
                <label for="name">商品名称:</label>
                <input id='name' type="text" name='goods_name' value="{$goodsInfo.goods_name}" autofocus />
            </dd>
            <dd>
                <label for="price">商品价格:</label>
                <input id='price' type="text" name='goods_price' value="{$goodsInfo.goods_price}" />
            </dd>
            <dd>
                <label for="num">商品数量:</label>
                <input id='num' type="text" name='goods_num' value="{$goodsInfo.goods_num}" />
            </dd>
            <dd>
                <label for="weight">商品重量:</label>
                <input id='weight' type="text" name='goods_weight' value="{$goodsInfo.goods_weight}" />
            </dd>
            <dd><label>所属分类:</label>
                <select name="category_id">                                    
                    <foreach name="categorys" item="category">
                        <option value="{$category.category_id}">{$category.category_name}</option>                                        
                    </foreach>
                </select>
            </dd>
            <dd><label>是否置顶:</label>
                <select name="goods_top">
                    <if condition="$goodsInfo.goods_top eq 0">
                    <option value="1">是</option>     
                    <option value="0" selected>否</option>
                    <else />
                    <option value="1" selected>是</option>     
                    <option value="0">否</option>
                    </if>                                                             
                </select>
            </dd>
            <dd>
                <label for="shop-img">商品图片:</label>
                <input id='shop-img' type="file" name='goods_big_img[]' />
            </dd>
            <dd>
                <textarea name="goods_desc" id="desc" cols="30" rows="10">{$goodsInfo.goods_desc}</textarea>
            </dd>
            <dd class="panel-add-bt">
                <input type="submit" value="更新" />
                <input type="reset" value="重置" />
            </dd>
        </dl>
    </form>
</div>
<include file="./Admin/View/frame-footer.html " />