<include file="./Admin/View/frame-top.html " />
<div class="panel-list">
    <h1>商品类别列表</h1>
    <table class="panel-data-list">
        <tr>
            <th>全选/反选</th>
            <th>商品类别id</th>
            <th>商品类别名称</th>
            <th>操作</th>
        </tr>
        <foreach name='categorys' item='category'>
            <tr>
                <td><input type="checkbox"></td>
                <td>{$category.category_id}</td>
                <td>{$category.category_name}</td>
                <td><a href="updateCategory?categoryId={$category.category_id}">修改</a>/<a href="delCategory?categoryId={$category.category_id}">删除</a></td>
            </tr>
        </foreach>
    </table>
</div>
<div class="pageContro">
    <ul>
        <li><a href="?page=1">首页</a></li>
        <if condition="($page elt 1)">
            <li><a href="?page=1">上一页</a></li>
            <else />
            <li><a href="?page={$tmpPage=$page-1}">上一页</a></li>
        </if>
        <li><a>{$page}/{$totalPage}页</a></li>
        <li><a>{$pageSize}条/页   共{$total}条数据</a></li>
        <if condition="($page egt $totalPage)">
            <li><a href="?page={$totalPage}">下一页</a></li>
            <else />
            <li><a href="?page={$tmpPage=$page+1}">下一页</a></li>
        </if>

        <li><a href="?page={$totalPage}">尾页</a></li>
    </ul>
</div>
<include file="./Admin/View/frame-footer.html " />