<include file="./Admin/View/frame-top.html " />
<div class="panel-list">
    <h1>管理员列表</h1>
    <table class="panel-data-list">
        <tr>
            <th>全选/反选</th>
            <th>管理员id</th>
            <th>管理员名称</th>
            <th>管理员最近登录时间</th>
            <th>管理员最近登录ip</th>
            <th>管理员所属角色</th>
            <th>操作</th>
        </tr>
        <foreach name='info' item='mkey'>
            <tr>
                <td><input type="checkbox"></td>
                <td>{$mkey.m_id}</td>
                <td>{$mkey.m_name}</td>
                <td>{$mkey.m_lasttime}</td>
                <td>{$mkey.m_lastip}</td>
                <td>{$mkey.role_id}</td>
                <td><a href="updateManager?managerId={$mkey.m_id}">修改</a>/<a href="delManager?managerId={$mkey.m_id}">删除</a></td>
            </tr>
        </foreach>
    </table>
    <div class="pageContro">
        <ul>
            <li><a href="?page=1">首页</a></li>
            <if condition="($page elt 1)">
                <li><a href="?page=1">上一页</a></li>
                <else />
                <li><a href="?page={$tmpPage=$page-1}">上一页</a></li>
            </if>
            <li><a>{$page}/{$totalPage}页</a></li>
            <li><a>{$pageSize}条/页   共{$total}条数据</a></li>
            <if condition="($page egt $totalPage)">
                <li><a href="?page={$totalPage}">下一页</a></li>
                <else />
                <li><a href="?page={$tmpPage=$page+1}">下一页</a></li>
            </if>

            <li><a href="?page={$totalPage}">尾页</a></li>
        </ul>
    </div>
</div>
<include file="./Admin/View/frame-footer.html " />