<include file="./Admin/View/frame-top.html " />
<div class="panel-add">
    <form action="" method="post">
        <dl>
            <dd>
                <h1>修改管理员信息{$managerInfos.m_name}</h1>
            </dd>
            <dd>
                <label for="name">管理员名称:</label>
                <input id='name' type="text" name="m_name" value="{$managerInfos.m_name}" />
            </dd>
            <dd>
                <label for="passwd">管理员密码:</label>
                <input id='passwd' type="password" name='m_passwd' placeholder="留空不修改" />
            </dd>
            <dd>
                <label for="">所属角色:</label>
                <select name="role_id">
                    <foreach name="role_infos" item="info">
                        <option value="{$info.role_id}">{$info.role_name}</option>                                        
                    </foreach>
                </select>
            </dd>
            <dd class="panel-add-bt">
                <input type="submit" value="更新" />
                <input type="reset" value="重置" />
            </dd>
        </dl>
    </form>
</div>
<include file="./Admin/View/frame-footer.html " />