<include file="./Admin/View/frame-top.html " />
<div class="panel-list">
    <h1>角色列表</h1>
    <table class="panel-data-list">
        <tr>
            <th>全选/反选</th>
            <th>角色id</th>
            <th>角色名称</th>
            <th>角色拥有的权限id</th>
            <th>拥有的权限控制器和方法</th>
            <th>操作</th>
        </tr>
        <foreach name='role_infos' item='rkey'>
            <tr>
                <td><input type="checkbox"></td>
                <td>{$rkey.role_id}</td>
                <td>{$rkey.role_name}</td>
                <td>{$rkey.role_auth_ids}</td>
                <td>{$rkey.role_auth_ca}</td>
                <td><a href="updateRole?roleId={$rkey.role_id}">修改</a>/<a href="delRole?roleId={$rkey.role_id}">删除</a></td>
            </tr>
        </foreach>
    </table>
</div>
<include file="./Admin/View/frame-footer.html " />