<include file="./Admin/View/frame-top.html " />
<div class="panel-add">
    <h1>修改角色信息</h1>
    <form action="" method="post">
        <dl class='role-add'>
            <dd>
                <label for="role_nameid">角色名称:</label>
                <input id='role_nameid' type="text" name='role_name' value="{$roleInfo.role_name}" />
            </dd>
            <dd>
                <label>拥有的权限</label>
            </dd>
            <dd class="select-auth">
                <foreach name="auth_infos" item="info" key='k'>
                    <if condition="$info['auth_level'] eq 0">
                        <if condition="$k neq 0">
                            </ul>
                        </if>
                        <ul>
                            <li>
                                <h4><input type="checkbox" hidden>{$info['auth_name']}</h4>
                            </li>
                            <else />
                            <assign name="flag" value="false" />
                            <foreach name="roleInfo['role_auth_ids']" item="ar_ids">
                                <if condition="$ar_ids eq $info['auth_id']">
                                    <assign name="flag" value="true" />
                                </if>
                            </foreach>
                            <if condition="$flag eq 'true'">
                                <li><input name="role_auth_ids[]" type="checkbox" value="{$info.auth_path}" checked="checked">{$info.auth_name}</li>
                                <else />
                                <li><input name="role_auth_ids[]" type="checkbox" value="{$info.auth_path}">{$info.auth_name}</li>
                            </if>
                    </if>
                </foreach>
            </dd>
            <dd class="panel-add-bt">
                <input type="submit" value="修改" />
                <input type="reset" value="重置" />
            </dd>
        </dl>
    </form>
</div>
<include file="./Admin/View/frame-footer.html " />